<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="form-group">
              <h1>Your Profile</h1>

              <p>Username: <%= @user.username %></p>
              <p>Password: ******** </p>
              </div>

                <%= link_to "Update Password", user_change_password_path(@user), class: "btn btn-primary" %>

</div>
</div>
</div>
</div>
