// Custom bootstrap variables must be set or imported before bootstrap itself.
// $navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rooms";
// @import "messages";
@import "users";
@import "media-queries";
@import "scrollbar";

// @import "bootstrap/bootstrap-tooltip";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// html {
//   height: 100%;
//
//   body {
//     height: 100%;
//
//     .header {
//       height: 16%;
//     }
//
//     .content {
//       height: 79%;
//
//       .strech {
//         height:100%;
//       }
//     }
//   }
// }

textarea {
  resize: none;
}

.message-container {
  height: 100%;
  overflow-y:scroll;
  overflow-x: hidden;

//   &:-webkit-scrollbar-thumb {
//     background-color: #0ae;
//     background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
// }

  .avatar {
    margin: 0.5rem;
  }

  .message {
    margin: 5px 1px;
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;

    &:nth-child(2n) {
      background: #ccc;
      border: 1px solid #fff;

    }
  }
}

.jumbotron {
  padding-top: 14px;
  padding-bottom: 14px;
}

.palmtree {
  max-width: 20px;
  margin-left: 5px;
}

.beach1111 {
  max-width: 140px;
  padding: 10px 0px;
}

#unique1, #unique2 {
  margin-bottom: 15px;
}

#welcome-text {
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
}

#snow {
  background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index:-10;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

// #theGoods {
// padding-right: -10px;
// padding-left: 0px;
// }
.github-fork-ribbon.right-bottom:before {
    background-color: black;
}

body {
  background: url(https://res-2.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_1110,q_75,w_1920/v1/clients/vancouverbc/beaches_e5e4997c-1ad5-4463-b6a6-0b87279281dc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}


.hidden {
  display: none;
}

.rounded {
      border-radius: 4px;
}

.noMargin{
  margin: 0;
}

#newMessage {
  display: flex;
  margin-bottom: 10px;
}
