// Custom bootstrap variables must be set or imported before bootstrap itself.
// $navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rooms";
// @import "messages";
@import "users";
@import "bootstrap/bootstrap-tooltip";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
.message {
  padding: 5px;
  background-color: lightblue;
  margin: 1px;
  border-radius: 5px;

}

.jumbotron {
  padding-top: 14px;
  padding-bottom: 14px;
}

.palmtree {
  max-width: 20px;
  margin-left: 5px;
}

.beach1111 {
  max-width: 140px;
  padding: 10px 0px;
}

#unique1, #unique2 {
  margin-bottom: 15px;
}

body {
  background: url(https://res-2.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_1110,q_75,w_1920/v1/clients/vancouverbc/beaches_e5e4997c-1ad5-4463-b6a6-0b87279281dc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
