@media(max-width:800px){
  // .noPaddingLeft {
  //   padding:0!important;
  // }

  .noPaddingLeft {
    visibility: hidden;
    display: none;

  }

}


@media(max-width:1201px){
    .noPaddingRight {
      padding:0!important;
    }

}


  .noPaddingRight {
    padding-right:0!important;
    // margin-left: 10px;
  }

@media(max-width:1201px){
    .noPaddingLeft {
      padding:0!important;
    }

}


  .noPaddingLeft {
    padding-left:0!important;

  }


body {
  background: #fff;
}
