<div class="jumbotron">
  <h1>Welcome!</h1>
  <h2>1111 Beach is the <i>residents-only</i> community hub for dwellers of 1111 Beach Avenue.</h2>
  <p>How many of your neighbors do you know? If you know any, that's already good, but hopefully this app empowers you to get to know more of them, and enhance the quality of life!</p>
</div>
